<h1>Welcome to Indus Bank</h1> <br>

<button mat-raised-button color="warn" routerLink="/create-account">New Account</button>
<button mat-raised-button color="warn" routerLink="/show-all-accounts">Show All Accounts</button>
<button mat-raised-button color="warn" routerLink="/find-account">Find Account</button>
<button mat-raised-button color="warn" routerLink="/update-account">Update Account</button>
<button mat-raised-button color="warn" routerLink="/delete-account">Delete Account</button>
<router-outlet></router-outlet>